body {
    font-family: "Prompt", sans-serif;
    ;
    text-transform: capitalize;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    border-color: darkcyan !important;
}

.photo {
    height: 150px;
    overflow: hidden;
}

i.fa-shake {
    animation-iteration-count: 0;
}

i.fa-shake:hover {
    animation-iteration-count: 1000;
}
